<div class="w-full flex justify-center my-5">
  <div class="w-1/2 flex flex-col space-y-5">
    <!-- first person -->
    <div class="flex space-x-2 items-center">
      <div>
        <p-image
          src="/about/button.jpg"
          alt="employee"
          width="300px"
          height="300px"
        />
      </div>

      <div>
        <p class="font-bold m-0">Name #1</p>
        <p class="italic mt-0">Chief Executive Officer</p>
        <p>
          Meet Example Name, the visionary leader behind Button Apartment LLC.
          With over 5 years of experience in the real estate industry, Example
          is dedicated to transforming urban living by creating modern,
          welcoming spaces for residents to call home. Under his leadership,
          Button Apartment LLC has flourished, prioritizing quality, community,
          and innovation in every project. Example believes that a great
          apartment is more than just a place to live; it’s a foundation for a
          fulfilling lifestyle. Passionate about enhancing the resident
          experience, he is committed to fostering a culture of excellence and
          care, ensuring that every Button Apartment LLC property reflects the
          company’s core values.
        </p>
      </div>
    </div>

    <!-- second person -->
    <div class="flex space-x-2 items-center">
      <div>
        <p-image
          src="/about/button.jpg"
          alt="employee"
          width="300px"
          height="300px"
        />
      </div>

      <div>
        <p class="font-bold m-0">Name #1</p>
        <p class="italic mt-0">Chief Executive Officer</p>
        <p>
          Meet Example Name, the visionary leader behind Button Apartment LLC.
          With over 5 years of experience in the real estate industry, Example
          is dedicated to transforming urban living by creating modern,
          welcoming spaces for residents to call home. Under his leadership,
          Button Apartment LLC has flourished, prioritizing quality, community,
          and innovation in every project. Example believes that a great
          apartment is more than just a place to live; it’s a foundation for a
          fulfilling lifestyle. Passionate about enhancing the resident
          experience, he is committed to fostering a culture of excellence and
          care, ensuring that every Button Apartment LLC property reflects the
          company’s core values.
        </p>
      </div>
    </div>

    <!-- third person -->
    <div class="flex space-x-2 items-center">
      <div>
        <p-image
          src="/about/button.jpg"
          alt="employee"
          width="300px"
          height="300px"
        />
      </div>

      <div>
        <p class="font-bold m-0">Name #1</p>
        <p class="italic mt-0">Chief Executive Officer</p>
        <p>
          Meet Example Name, the visionary leader behind Button Apartment LLC.
          With over 5 years of experience in the real estate industry, Example
          is dedicated to transforming urban living by creating modern,
          welcoming spaces for residents to call home. Under his leadership,
          Button Apartment LLC has flourished, prioritizing quality, community,
          and innovation in every project. Example believes that a great
          apartment is more than just a place to live; it’s a foundation for a
          fulfilling lifestyle. Passionate about enhancing the resident
          experience, he is committed to fostering a culture of excellence and
          care, ensuring that every Button Apartment LLC property reflects the
          company’s core values.
        </p>
      </div>
    </div>
  </div>
</div>
